// app global css in SCSS form
@font-face {
  font-family: Teko;
  src: url(../fonts/Teko_Medium.10.ttf);
}

@font-face {
  font-family: Encode;
  src: url(../fonts/Encode_Sans_Semi_Expanded_Regular.8.ttf);
}

@font-face {
  font-family: Convergence;
  src: url(../fonts/Convergence_Regular.10.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}

* {
  font-family: OpenSans;
}
.q-tab__label {
  font-family: Convergence;
}

// declare a class which applies it
.sf-header {
  font-family: 'Teko';
}
