// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #81a1c1;
$secondary: #4c566a;
$accent: #b48ead;

$dark: #2e3440;
$dark-page: #2e3440;
$bg-card: #3b4252;
$field: #434c5e;

$positive: #a3be8c;
$negative: #bf616a;
$info: #88c0d0;
$warning: #ebcb8b;

$session: #00b3c866;
$legacy: #4d5769cc;
$adventure: #3c70a466;
$fate: #6b52ec66;
$combat: #d68f0066;
$suffer: #c5000066;
$exploration: #7438b866;
$connection: #4053c966;
$threshold: #67676766;
$quest: #2f923666;
$recover: #179f0e66;
$scene: #3a046a66;

$star: #6d72a4ff;
$planet: #7368b0ff;
$settlement: #9d5a9fff;
$ship: #ad6398ff;
$person: #9e708fff;
$creature: #3c8ab5ff;
$derelict: #427a99ff;
$vault: #427074ff;
$sighting: #25827eff;
