// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
/*
$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
*/

$primary: #81a1c1;
$secondary: #4c566a;
$accent: #b48ead;

$dark: #2e3440;
$dark-page: #2e3440;
$bg-card: #3b4252;
$field: #434c5e;

$positive: #a3be8c;
$negative: #bf616a;
$info: #88c0d0;
$warning: #ebcb8b;

$adventure: #3b9151;
$relationship: #663b91;
$combat: #913b3b;
$suffer: #917b3b;
$quest: #3b9191;
$fate: #3b5191;
$delve: #66913b;
